:root {
  --color-red: red;
}
.two-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.two-grid h2 {
  border: 1px solid var(--color-red);
  padding: 10px;
}
.three-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.three-grid h2 {
  border: 1px solid var(--color-red);
  padding: 10px;
}
