:root {
  --white-color: #fff;
  --btn-hover: #333;
  --btn-defaultcolor: #333;
  /* Color asset for primary Button */
  --primary-color: #007bff;
  --primary-colorborder: #007bff;
  --primary-hover: #0069d9;
  --primary-hoverborder: #0062cc;
  /* Color asset for secondary Button */
  --secondary-color: #6c757d;
  --secondary-colorborder: #6c757d;
  --secondary-hover: ##5a6268;
  --secondary-hoverborder: #545b62;
  /* color asset for warning color */
  --warning-color: #f0ad4e;
  --warning-colorborder: #eea236;
  --warning-hover: #ec971f;
  --warning-hoverborder: #d58512;
  /* color asset for info color */
  --info-color: #5bc0de;
  --info-colorborder: #46b8da;
  --info-hover: #31b0d5;
  --info-hoverborder: #269abc;
  /* color asset for success color */
  --success-color: #28a745;
  --success-colorborder: #28a745;
  --success-hover: #218838;
  --success-hoverborder: #1e7e34;
  /* color asset for link button */
  --link-color: #007bff;
  --link-hover: #007bff;

  /* Size values */
  --padding-topnbottom: 0.375rem;
  --padding-leftright: 0.75rem;
  --font-size: 1rem;
}
/* Basic button styling starts Here */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
  font-size: var(--font-size);
  border: 1px solid transparent;
  padding: var(--padding-topnbottom) var(--padding-leftright);
  line-height: 1.5;
  cursor: pointer;
  font-family: inherit;
  white-space: nowrap;
  vertical-align: middle;
}
.btn:hover {
  transition: all 0.6s;
}
.btn-round {
  border-radius: 50%;
  min-height: 80px;
  min-width: 80px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:active {
  outline: none;
  box-shadow: inset 0 3px 5px rgba(0 0 0 0.13);
}
.btn:hover {
  color: var(--btn-hover);
}
.btn[disabled] {
  opacity: 0.65;
  box-shadow: none;
  pointer-events: none;
  /* This property I got to know now */
}
.btn-link {
  color: var(--link-color);
  border-radius: 0;
  border-color: transparent;
  box-shadow: none;
  padding: 0px;
  transition: all 10s;
}
.btn-link:focus,
.btn-link:hover {
  color: var(--link-hover);
  text-decoration: underline;
  background-color: transparent;
}
/* large btn class */
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
/* small btn class */
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* default btn class */
.btn-secondary {
  color: var(--white-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-colorborder);
}
.btn-secondary:hover {
  background-color: var(--secondary-hover);
  background-color: var(--secondary-hoverborder);
  color: var(--white-color);
}
/* primary btn class */
.btn-primary {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-colorborder);
}
.btn-primary:hover {
  color: var(--white-color);
  background-color: var(--primary-hover);
  border-color: var(--primary-hoverborder);
}
/* btn warnng class */
.btn-warning {
  color: var(--white-color);
  background-color: var(--warning-color);
  border-color: var(--warning-colorborder);
}
.btn-warning:hover {
  color: var(--white-color);
  background-color: var(--warning-hover);
  border-color: var(--warning-hoverborder);
}
/* btn info class */
.btn-info {
  color: var(--white-color);
  background-color: var(--info-color);
  border-color: var(--info-colorborder);
}
.btn-info:hover {
  color: var(--white-color);
  background-color: var(--info-hover);
  border-color: var(--info-hoverborder);
}
/* btn-link class */
.btn-link {
  color: var(--link-color);
  border-radius: 0;
  border-color: transparent;
  box-shadow: none;
  padding: 0px;
  transition: all 10s;
}
.btn-link:focus,
.btn-link:hover {
  color: var(--link-hover);
  text-decoration: underline;
  background-color: transparent;
}
/* btn-success class */
.btn-success {
  color: var(--white-color);
  background-color: var(--success-color);
  border-color: var(--success-colorborder);
}
.btn-success:hover {
  color: var(--white-color);
  background-color: var(--success-hover);
  border-color: var(--success-hoverborder);
}

.btn-outline-primary {
  color: var(--primary-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--primary-colorborder);
}

.btn-outline-primary:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-colorborder);
}

.btn-outline-secondary {
  color: var(--secondary-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--secondary-colorborder);
}

.btn-outline-secondary:hover {
  color: var(--white-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-colorborder);
}
.btn-outline-success {
  color: var(--success-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--success-colorborder);
}

.btn-outline-success:hover {
  color: var(--white-color);
  background-color: var(--success-color);
  border-color: var(--success-colorborder);
}
.btn-outline-warning {
  color: var(--warning-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--warning-colorborder);
}

.btn-outline-warning:hover {
  color: var(--white-color);
  background-color: var(--warning-color);
  border-color: var(--warning-colorborder);
}
.btn-outline-info {
  color: var(--info-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--info-colorborder);
}

.btn-outline-info:hover {
  color: var(--white-color);
  background-color: var(--info-color);
  border-color: var(--info-colorborder);
}
/* This declaration is due to override the styling of icon of by default to be able to make use inside button */
i {
  vertical-align: middle;
  padding-right: 10px;
  line-height: 0 !important;
}

.avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.avatar-sm {
  height: 50px;
  width: 50px;
}

.avatar-lg {
  height: 130px;
  width: 130px;
}
