*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  font-size: 1rem;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
