:root {
  --color-white: #fff;
  --color-btn-hover: #333;
  --color-btn-default: #333;
  /* Color asset for primary Button */
  --color-primary: #007bff;
  --color-primary-border: #007bff;
  --color-primary-hover: #0069d9;
  --color-primary-hover-border: #0062cc;
  /* Color asset for secondary Button */
  --color-secondary: #6c757d;
  --color-secondary-border: #6c757d;
  --color-secondary-hover: ##5a6268;
  --color-secondary-hover-border: #545b62;
  /* color asset for warning color */
  --color-warning: #f0ad4e;
  --color-warning-border: #eea236;
  --color-warning-hover: #ec971f;
  --color-warning-hover-border: #d58512;
  /* color asset for info color */
  --color-info: #5bc0de;
  --color-info-border: #46b8da;
  --color-info-hover: #31b0d5;
  --color-info-hover-border: #269abc;
  /* color asset for success color */
  --color-success: #28a745;
  --color-success-border: #28a745;
  --color-success-hover: #218838;
  --color-success-hover-border: #1e7e34;
  /* color asset for link button */
  --color-link: #007bff;
  --color-link-hover: #007bff;

  /* Size values */
  --padding-top-bottom: 0.375rem;
  --padding-left-right: 0.75rem;
  --font-size: 1rem;
  --border-radius: 0.25rem;
}
/* Basic button styling starts Here */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  border: 1px solid transparent;
  padding: var(--padding-top-bottom) var(--padding-left-right);
  line-height: 1.5;
  cursor: pointer;
  font-family: inherit;
  white-space: nowrap;
  vertical-align: middle;
}

.btn:hover {
  transition: all 0.6s;
}
.btn-round {
  border-radius: 50%;
  min-height: 60px;
  min-width: 60px;
  font-size: 1.4rem;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn:active {
  outline: none;
  box-shadow: inset 0 3px 5px rgba(0 0 0 0.13);
}
.btn:hover {
  color: var(--color-btn-hover);
}
.btn[disabled] {
  opacity: 0.65;
  box-shadow: none;
  pointer-events: none;
  /* This property I got to know now */
}
/* large btn class */
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
/* small btn class */
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* default btn class */
.btn-secondary {
  color: var(--color-white);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary-border);
}
.btn-secondary:hover {
  background-color: var(--color-secondary-hover);
  background-color: var(--color-secondary-hover-border);
  color: var(--color-white);
}
/* primary btn class */
.btn-primary {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary-border);
}
.btn-primary:hover {
  color: var(--color-white);
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover-border);
}
/* btn warnng class */
.btn-warning {
  color: var(--color-white);
  background-color: var(--color-warning);
  border-color: var(--color-warning-border);
}
.btn-warning:hover {
  color: var(--color-white);
  background-color: var(--color-warning-hover);
  border-color: var(--color-warning-hover-border);
}
/* btn info class */
.btn-info {
  color: var(--color-white);
  background-color: var(--color-info);
  border-color: var(--color-info-border);
}
.btn-info:hover {
  color: var(--color-white);
  background-color: var(--color-info-hover);
  border-color: var(--color-info-hover-border);
}
/* btn-link class */
.btn-link {
  color: var(--color-link);
  border-color: transparent;
  box-shadow: none;
  padding: 0;
  transition: all 10s;
}
.btn-link:focus,
.btn-link:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
  background-color: transparent;
}
/* btn-success class */
.btn-success {
  color: var(--color-white);
  background-color: var(--color-success);
  border-color: var(--color-success-border);
}
.btn-success:hover {
  color: var(--color-white);
  background-color: var(--color-success-hover);
  border-color: var(--color-success-hover-border);
}

.btn-outline-primary {
  color: var(--color-primary);
  background-color: transparent;
  background-image: none;
  border-color: var(--color-primary-border);
}

.btn-outline-primary:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary-border);
}

.btn-outline-secondary {
  color: var(--color-secondary);
  background-color: transparent;
  background-image: none;
  border-color: var(--color-secondary-border);
}

.btn-outline-secondary:hover {
  color: var(--color-white);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary-border);
}
.btn-outline-success {
  color: var(--color-success);
  background-color: transparent;
  background-image: none;
  border-color: var(--color-success-border);
}

.btn-outline-success:hover {
  color: var(--color-white);
  background-color: var(--color-success);
  border-color: var(--color-success-border);
}
.btn-outline-warning {
  color: var(--color-warning);
  background-color: transparent;
  background-image: none;
  border-color: var(--color-warning-border);
}

.btn-outline-warning:hover {
  color: var(--color-white);
  background-color: var(--color-warning);
  border-color: var(--color-warning-border);
}
.btn-outline-info {
  color: var(--color-info);
  background-color: transparent;
  background-image: none;
  border-color: var(--color-info-border);
}

.btn-outline-info:hover {
  color: var(--color-white);
  background-color: var(--color-info);
  border-color: var(--color-info-border);
}
/* This declaration is due to override the styling of icon of by default to be able to make use inside button */
i {
  vertical-align: middle;
  padding-right: 10px;
  line-height: 0 !important;
}
